/* 
 *@theme template
 *@auto-scaling true
 */

@import "default";

section {
  font-size: 18px;
  width: 960px;
  height: 720px;
}

header {
  width: 100%;
  font-size: 20px;
  padding: 1px;
  top: 50px;
}

footer {
  width: 100%;
  font-size: 20px;
  color: black;
  text-align: right;
  padding: 15px;
}

h1 {
  font-size: 40;
  color: navy;
}

h2 {
  font-size: 35;
  color: navy;
}

h3 {
  font-size: 30;
  color: navy;
}

/*figure*/
#left-box {
  width: 800px;
  font-size: 18px;
  border: solid 1px #ffffff;
  padding: 10px;
  background: #ffffff;
  overflow: hidden; /*float解除*/
}
#left-box .img {
  float: right; /*画像の位置を右下にしたい場合はright*/
  clear: both; /*.spaceのfloat解除*/
  margin: 3px 3px 0 0; /*画像の周りの余白*/
}
