/* @theme template */

@import "default";

section {
  font-size: 10px;
}

header {
  width: 100%;
  font-size: 20px;
  padding: 1px;
  top: 50px;
}

footer {
  width: 100%;
  font-size: 20px;
  color: black;
  text-align: right;
  padding: 15px;
}

h1 {
  font-size: 40;
  color: navy;
}

h2 {
  font-size: 35;
  color: navy;
}

h3 {
  font-size: 30;
  color: navy;
}